.nav{
  font-size: 1.2rem;
  grid-area: n;
  background-color: #fcad80 ;
  border-right: 5px solid #900012;
  border-radius: 10px;
  margin-right: 15px;
  }
  
  .item a{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: auto;
    font-weight: 600;
    color: #5a000b;
    text-decoration: none;
    padding-left: 20px;
  }
  
  .item a:hover{
    background-color:rgba(143, 0, 17, 0.3);
    color: #ffeac3;
  }
  
  .item .active{
    background-color: #ffeac3;
    color: #d43934;
  }
  